.bar {
  fill: rgb(51, 173, 255);

  &:hover {
    fill: navy;
  }
}

.dot {
  display: inline-block;
  fill-opacity: 0.5;
  fill: green;
  background: rgba(green, 0.5);
  border: 1px solid black;
  border-radius: 500rem;
  stroke: black;
  width: 10px;
  height: 10px;

  &_background_red {
    fill: red;
    background: rgba(red, 0.5);
  }
}

.legend {
  list-style: none;
  padding: 0;
  margin: 0;

  &__dot {
    @extend .dot;
  }
}

.tooltip {
  padding: 20px;
  border: 1px solid black;
  background: white;
  display: none;

  &_visibility {
    &_visible {
      display: block;
    }
  }
}

.plot {
  &_type_scatter {
    display: inline-block;
    position: relative;

    .legend {
      position: absolute;
      right: 0;
      top: 55px;
    }
  }
}

.plot-tooltip {
  position: absolute;
  min-width: 150px;
  text-align: center;

  &__doping {
    margin-top: 10px;

    &:empty {
      display: none;
    }
  }
}
